#Element_OphMiScan_Document_title { width: 29em; }

div.scan-thumbnails { margin-bottom: 60px; }
.scan-thumbnail { background-repeat: no-repeat; background-position: center; width: 150px; height: 150px; display: inline-block; border: 4px solid #ccc; margin-right: 5px; margin-left: 5px; }
.scan-thumbnail.selected { border: 4px solid #0b59ff; }
.scan-thumbnail-image { height: 150px; }
.scan-thumbnail .preview-thumbnail { margin-left: 30px; margin-top: 4px; }
.scan-thumbnail a:hover { text-decoration: none; border: 0; }
.scan-thumbnail-preview-link { height: 38px; }
.scan-thumbnail-select-target { height: 150px; }
.scan-thumbnail-date { margin-top: 4px; }

.pdf-preview { margin-top: 50px; }
