#Element_OphMiScan_Document_title { width: 29em; }

div.scan-thumbnails { margin-bottom: 80px; }
.scan-thumbnail { background-repeat: no-repeat; background-position: center; width: 150px; height: 150px; display: inline-block; border: 4px solid #ccc; margin-right: 5px; margin-left: 5px; }
.scan-thumbnail.selected { border: 4px solid #0b59ff; }
.scan-thumbnail-image { height: 150px; }
.scan-thumbnail .preview-thumbnail { margin-top: 4px; }
.scan-thumbnail a:hover { text-decoration: none; border: 0; }
.scan-thumbnail-preview-link { height: 38px; }
.scan-thumbnail-select-target { height: 150px; }
.scan-thumbnail-date { margin-top: 4px; }

ul.scan-thumbnails { padding: 0; }
ul.scan-thumbnails { list-style: none; }
ul.scan-thumbnails li { display: inline; float: left; }

.scan-thumbnail-container { height: 250px; }

.pdf-preview { margin-top: 50px; }
.pagination { float: right; margin-right: 30px; margin-top: 13px; }
.show_all { float: right; margin-right: 15px; margin-top: 13px; }

.scan-thumbnails.view .scan-thumbnail-image { cursor: pointer; }
.scan-thumbnails.edit .scan-thumbnail-image { cursor: move; }

#clinical-create_es_ { clear: both; }

.classy.mini span { padding: 0 15px; }

.firstPage { margin-bottom: 2em; }
